{% extends "base.html" %}
{% block container %}
<div class="container">
	<div class="row">
		<div classs="col-xs-12"><h1 class="text-primary">Code For Progress Alumni</h1></div>
	</div>
    <div class="row">
      <div class="col-xs-4 blue"></div>
      <div class="col-xs-4 gray"></div>
      <div class="col-xs-4 green"></div>
    </div>
    <br>
    <br>
<div class="row">
	<div class="col-xs-12"><h2 class="text-primary">Our 2014 Fellows</h2></div>
	<div class="col-xs-12"><p class="lead text-muted"> 2014 was our inargual year. We brought in twelve bright, eager indivisuals from around the United States to participate in the groundbreaking program.</p>
	<br>
	<br>
</div>


{% for alum in alumniList %}
<div class="row">
	<div class="col-md-2">
		<img src="{{MEDIA_URL}}{{alum.image.url}}" alt="..." class="img-circle" height="140" width="140">
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-xs-12"><h4 class="text-primary">{{alum.full_name}}, {{alum.city}}</h4></div>
			<div class="col-xs-12"><h5 class="text-success"> <strong>Hired as: </strong>{{alum.current_position}}</h5></div>
		</div>
		<div class="row">
			<div class="col-xs-12"><p class="text-muted"><strong>About: </strong>"{{alum.bio}}"</p></div>
		</div>
	</div>
</div>
<br>
	<br>
	<br>
	<br>
{% endfor %}


</div>

</div>


{% endblock %}