{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

    <div class="container-fluid top">
      <br>
      <br>
      <div class="row">

      <div class="cover-container">
        <div class="inner cover">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
            <h1 class="cover-heading center_text">Changing the Face of Tech</h1>
            <p class="lead center_text">Code for Progress brings women and people of color into the coding workforce through holistic investment in their technical training and communities of support.</p>
          <div class="row">
        <div class="col-md-4">
          <a class="btn btn-primary" href="{% url 'apply' %}" role="button">Apply to the Program</a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-primary" href="{% url 'community' %}" role="button">Get Involved</a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-primary" href="{% url 'partner' %}" role="button">Become a Partner</a>
        </div>
      </div>
          </div>
        </div>
      </div>
         <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 blue"><br></div>
        <div class="col-xs-4 gray"><br></div>
        <div class="col-xs-4 green"><br></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <img src= {% static 'img/python.png' %} class="img-circle" alt="Responsive image">
        </div>
        <div class="col-xs-2">
          <img src={% static 'img/html.png' %} class="img-circle" alt="Responsive image">
        </div>
        <div class="col-xs-2">
          <img src={% static 'img/css.png' %} class="img-circle" alt="Responsive image">
        </div>
        <div class="col-xs-2">
          <img src= {% static 'img/boostrap.png' %} class="img-circle" alt="Responsive image">
        </div>
        <div class="col-xs-2">
          <img src={% static 'img/jquery.png' %} class="img-circle" alt="Responsive image">
        </div>
        <div class="col-xs-2">
          <img src={% static 'img/angular.png' %} class="img-circle" alt="Responsive image">
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-success">What is Code for Progress?</h1>
           <div class="row">
            <div class="col-xs-4 blue"></div>
            <div class="col-xs-4 gray"></div>
            <div class="col-xs-4 green"></div>
          </div>
          <br>
          <p class="text-muted lead">Code For Progress is an paid, immersive, full-time, web development and job-placement program in Washington DC. Over twenty weeks, you'll learn all the skills needed to begin a career as a web developer. Through hands-on projects, we train you to build web applications with Python, Django, and JavaScript. Prior programming experience isn't required. However, you will need lots of tenacity and a passion for building cool stuff.
          <br><br>
          All Code for Progress fellows receive a monthly stipend and housing allowance during their residency in DC. Then, we facilitate their transition into the tech sector where they use their skills as junior developers, database managers, innovation specialists, and other first coding positions. In the seven-month post-residency period, fellows are supported on the job with weekly check-in calls, ongoing professional mentorship and technical coaching, and opportunities to build new skills. 
          <br><br>
          By intentionally removing barriers to technological training for women and people of color, Code for Progress cultivates a growing community of diverse professionals who have the technical skills and cultural competency to bring innovation to non-profits, government and industry.</p>
          <br>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
    </div>


            <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>


{% endblock %}