{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

<div class="container">
	<div class="row">
		<div classs="col-xs-12"><h1 class="text-primary">Code For Progress Staff Members</h1></div>
	</div>
    <div class="row">
      <div class="col-xs-4 blue"></div>
      <div class="col-xs-4 gray"></div>
      <div class="col-xs-4 green"></div>
    </div>
    <br>
    <br>
<div class="row">
{% for staff in staffList %}
<div class="row">
	<div class="col-md-2">
		<img src="{{MEDIA_URL}}{{staff.image.url}}" alt="..." class="img-circle" height="140" width="140">
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-xs-12"><h3 class="text-primary">{{staff.full_name}}, {{staff.title}}</h3></div>
		</div>
		<div class="row">
			<div class="col-xs-12"><p class="text-muted">{{staff.bio}}</p></div>
		</div>
	</div>
</div>
<br>
	<br>
	<br>
	<br>
{% endfor %}


</div>

</div>
{% endblock %}